@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}


body {
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2{
  font-family: 'Bebas Neue', cursive;
  font-weight: 400;
  letter-spacing: 0.5px;
}


.container{
  height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr; 
}

.container .container-main{
  grid-row: 2;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button, input[type="file"]::file-selector-button{
  font-size: 18px;
  
  background-image: linear-gradient(to right,
        #205E61,
        #af002d,
        #319197 100%,
        #319197 200%);
    background-position-x: 0%;
    background-size: 200%;
    color: whitesmoke;
    border: 0;
    border-radius: 4px;
    padding: 0.5rem 1rem;
    cursor: pointer;
  
    transition: transform 0.2s ease-in-out, background-position-x 0.2s ease-in-out;
  
    margin: 0.5rem 0 0 0;
}

button:hover, input[type="file"]::file-selector-button:hover {
  background-position-x: 100%;
  transform: scale(1.1);
}